body{
    background-color: #7FFF00;
}

/*start:styling*/


#container{
      background-color:#FFFF00;
      width:700px;
      margin:0px auto;
      border-style:solid;
      border-color: #8A2BE2;
      border-width:10px;
      background-image:url(../images/cloud.jpg);
}
/*end:styling*/

/*start:styling*/


#tip{
   background-color:#00FFFF;
   width:275px;
   height: auto;
   margin:50px 50px 50px 50px;
   display:inline-block;
   border:50px;
  
}
/*end:styling*/

/*start:styling*/


#tall{
    background-color:#00FFFF;
    width:275px;
    height:auto;
    margin:50px 50px 0px 0px;
    float:right;
    display:inline-block;
    border:50px;

}
/*end:styling*/

/*start:styling*/


#bottom{
     background-color:#00FFFF;
     width:275px;
     height:auto;
     margin:50px 50px 50px 50px;
     border:50px;
     display:inline-block;
     font-style:oblique;
}
/*end:styling*/

/*start:styling*/


#all{
   background-color:#00FFFF;
   width:275px;
   height:auto;
   margin:50px 50px 0px 0px;
   float:right;
   display: inline-block;
   border: 50px;

}
/*end:styling*/
 
 /*start:styling*/


#center{
     background-color: #00FFFF;
     width:600px;
     height:auto;
     margin:0px auto;
   }

/*end:styling*/

/*start:styling*/


p{
  padding:30px;
}
/*end:styling*/

/*start:styling*/
h1{
   color:#00FF00;
   padding:0px 10px;
}
h2{
 color:#000080 ;
 padding:0px 10px;
}

h3{
   color: #FF0000;
   padding:0px 10px;
}
/*end:styling*/
































